body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.short-url {
    color: blue;
    text-decoration: underline;
}

table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
button{
    padding: 10px;
    background-color: #4CAF50;
    border:1px solid  #4CAF50;
    border-radius: 5px;
}
input{
    margin-bottom:5px;
    padding: 10px;
    font-size: medium;
}
.signout-btn {
    padding: 10px;
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
}

.signout-btn:hover {
    background-color: #45a049;
}